/* chatroom.css */
.chatroom {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - var(--space-4) - var(--space-3) - var(--space-1));
  height: calc(100dvh - var(--space-4) - var(--space-3) - var(--space-1));
}

@media screen and (min-width: 768px) {
  .chatroom {
    height: calc(100dvh - var(--space-5));
  }
}

.chatroom-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .chatroom-container {
    max-width: var(--space-7);
  }
}

.message-input {
  display: flex;
  position: relative;
  align-items: center;
}

.message-input input {
  padding-right: 6ch;
  border-radius: var(--space-2);
  border: none;
  outline: 1px solid var(--secondary);
}

.message-input input:focus {
  transform: unset;
}

.message-input-buttons {
  position: absolute;
  right: 0;
}

.message-send-button {
  border-radius: 1em;
  position: absolute;
  right: .25em;
  padding: 0.8em;
  aspect-ratio: 1/1;
}

.conversation-container {
  display: flex;
  flex-direction: column;
  /* max-height: calc(100% - var(--space-5)); */
  overflow-y: auto;
  padding: var(--space-3);
  gap: var(--space-1);
  padding: var(--space-2) 0;
  flex-grow: 1;
}

.message-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: var(--space-2);
}

.message-wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.sender-name {
  margin-left: 0.5em;
  color: var(--neutral-400);
}

.message-wrapper .message {
  /* padding: 0.5em 1em; */
  border-radius: 1em;
  background-color: var(--neutral-800);
  justify-self: start;
  width: fit-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.message-wrapper.me .sender-name {
    align-self: flex-start;
}

.message-wrapper.me {
  margin-left: auto;
  align-items: flex-end;
}

.message-wrapper.me .message {
  background-color: var(--primary);
}

.chatroom-id-container {
    text-align: right;
}

.copy-chatroom-url {
  cursor: pointer;
  color: var(--info);
}

.copy-chatroom-id:hover {
  color: var(--info-300);
}

.chatroom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  border-bottom: 1px solid var(--dark);
}

.conversation-container .message-wrapper.system-message {
    color: var(--neutral-500); /* Change this to any color that will stand out */
    gap: 0;
  }

  .message.system-message {
    gap: unset;
    background-color: transparent;
    padding:0;
  }

  .typing-notification {
    color: var(--neutral-500);
    margin:0;
    font-size: var(--font-size-small);
    z-index: 10;
    position: relative;
    bottom: 0;
    padding: 0;
  }
  
  .message-wrapper.system-message {
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-small);
    margin: 0 auto;
  }

  /* hack to hide first message */
  .message-row:first-of-type {
    display: none;
}

.message-wrapper.me .sender-name {
  display: none;
}

.qr-code-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2);
  padding: 2em;
}

.message-row:has(.qr-code-message):not(:nth-of-type(2)),
.message-row:nth-of-type(3) {
  display: none;
}

html.light .message-wrapper.me {
  color: white;
}

.url-image img, .url-metadata {
  width: 100%;
  max-width: calc(100vw - var(--space-5));
}

.message-text {
  padding: 0.5em 1em;
}

.url-title, .url-description, .url-origin {
  padding: 0 var(--space-2);
}

.url-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-size-small);
}

.message a {
  color: var(--white);
}

.url-title {
  font-weight: 500;
}

.url-origin {
  font-family: var(--font-family-data);
  padding-bottom: 1em;
  text-align: right;
  width: 100%;
}

.message:has(.url-metadata) .message-text {
  padding: 0.5em 1em;
  display: none;
}

.url-placeholder {
  padding: 0.5em 1em;
}

.email-link {
  text-decoration: underline;
  padding: 0.5em 1em;
}

.transcription-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  padding: var(--space-3);
}

.transcription-modal-content {
  background: transparent;
  border-radius: var(--space-1);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  min-width: var(--space-6);
  max-width: calc(var(--space-5) + var(--space-6));
  width: 100%;
}

.transcription-modal textarea {
  width: 100%;
  height: var(--space-5);
  resize: none;
  background: transparent;
  color: white;
  border: none;
  overflow-y: auto;
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
}

.transcription-modal textarea:focus {
  outline: none;
}

.transcription-modal-buttons {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--dark);
  padding-top: var(--space-2);
}

.loading {

  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  background-color: inherit;
  color: var(--secondary);
  font-size: var(--font-size-small);
  border-radius: 0.5em;
  z-index: 1000;
  flex-direction: column;
  gap: var(--space-1);
}
