/* chatroom.css */

.message-send-button {
  border-radius: 0 1em 1em 0;
}

.message-input-container {
  display: flex;
}

.conversation-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--space-5) - var(--space-4) - var(--space-3));
  height: calc(100dvh - var(--space-5) - var(--space-4) - var(--space-3));
  overflow-y: auto;
  padding: var(--space-3);
  gap: var(--space-1);
  padding: var(--space-2) 0;
}

@media screen and (min-width: 768px) {
  .conversation-container {
    height: calc(100dvh - var(--space-6));
  }
}

.message-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: var(--space-2);
}

.message-wrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.sender-name {
  margin-left: 0.5em;
  color: var(--neutral-400);
}

.message-wrapper .message {
  padding: 0.5em 1em;
  border-radius: 10px;
  background-color: var(--neutral-800);
  justify-self: start;
  width: fit-content;
}

.message-wrapper.me .sender-name {
    align-self: flex-start;
}

.message-wrapper.me {
  margin-left: auto;
  align-items: flex-end;
}

.message-wrapper.me .message {
  background-color: var(--primary);
}

.chatroom-id-container {
    text-align: right;
}

.copy-chatroom-url {
  cursor: pointer;
  color: var(--info);
}

.copy-chatroom-id:hover {
  color: var(--info-300);
}

.chatroom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid var(--dark);
}

.conversation-container .message-wrapper.system-message {
    color: var(--neutral-500); /* Change this to any color that will stand out */
    gap: 0;
  }

  .message.system-message {
    gap: unset;
    background-color: transparent;
    padding:0;
  }

  .typing-notification {
    color: var(--neutral-500);
    margin:0;
    font-size: var(--font-size-small);
    z-index: 10;
    position: relative;
    bottom: 0;
    padding: 0;
  }
  
  .message-wrapper.system-message {
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-small);
    margin: 0 auto;
  }

  .message-row + .message-row:has(.qr-code-message) {
    display: none;
}

.message-wrapper.me .sender-name {
  display: none;
}